#signUpHeader: h1 Cards Against KU.
.row
  .small-12.medium-8.large-6.columns.medium-centered
    p#startParagraph To start a new game, choose a name for your game and have all members of your party type it in this box.  Late-arrivals can join existing games too.
      
    input(type="text", placeholder="Name of the Game", name="gameName")#startInputBox
    a.button.large.submitStuff(href="#")#startSubmitButton Clicky!

    #gameRequestFeedback