#signUpHeader2: h1 Cards Against KU.
.row
  .small-12.medium-8.large-6.columns.medium-centered
    p#whoParagraph What username would you like to go by?
      
    input(type="text", placeholder="Your Name", name="yourName")#whoInputBox
    a.button.large.submitStuff(href="#")#whoSubmitButton Clicky!

    #nameRequestFeedback